* {
    padding: 0;
    margin: 0;
}

@keyframes spin{
    from {background-color: red;}
    to {background-color: blue;}
}

.shape{
    border-radius: 0%;
    background-color: red;
    width: 100px;
    height: 100px;
    margin-left: 100px;
    border: 1px solid black;
    margin-top: 100px;
    animation-name: spin;
    animation-duration: 4s;
}


@media (prefers-reduced-motion) {
    .shape {
      animation-name: dissolve;
    }
  }

  @media (prefers-color-scheme: light) {
      .shape.light-scheme { background: black;}
      }


@media (orientation: landscape) {
    .shape {
      flex-direction: row;
    }
  }
  
  @media (orientation: portrait) {
    .shape {
      flex-direction: column;
    }
  }

  