@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap");
@-webkit-keyframes yourAnimation {
  0.0% {
  }
  100% {
    -webkit-transform: translate(-5px, 5px);
            transform: translate(-5px, 5px);
  }
  50.2% {
    -webkit-transform: translate(4px, -4px);
            transform: translate(4px, -4px);
  }
}
@keyframes yourAnimation {
  0.0% {
  }
  100% {
    -webkit-transform: translate(-5px, 5px);
            transform: translate(-5px, 5px);
  }
  50.2% {
    -webkit-transform: translate(4px, -4px);
            transform: translate(4px, -4px);
  }
}

/* Animation for the wave*/
#wavefg {
  -webkit-animation: yourAnimation 3s linear 0s infinite normal none;
          animation: yourAnimation 3s linear 0s infinite normal none;
}

/* Animation for the plastic bottle*/
@-webkit-keyframes rollBall {
  0.0% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
  35.2% {
    -webkit-transform: translate(0, 95px);
            transform: translate(0, 95px);
  }
  39.9% {
    -webkit-transform: translate(0, 100px) rotate(2deg);
            transform: translate(0, 100px) rotate(2deg);
  }
  5.2% {
    -webkit-transform: translate(0px, -10px);
            transform: translate(0px, -10px);
  }
  9.7% {
  }
  99.5% {
    -webkit-transform: translate(190px, 95px) rotate(270deg);
            transform: translate(190px, 95px) rotate(270deg);
  }
}
@keyframes rollBall {
  0.0% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
  35.2% {
    -webkit-transform: translate(0, 95px);
            transform: translate(0, 95px);
  }
  39.9% {
    -webkit-transform: translate(0, 100px) rotate(2deg);
            transform: translate(0, 100px) rotate(2deg);
  }
  5.2% {
    -webkit-transform: translate(0px, -10px);
            transform: translate(0px, -10px);
  }
  9.7% {
  }
  99.5% {
    -webkit-transform: translate(190px, 95px) rotate(270deg);
            transform: translate(190px, 95px) rotate(270deg);
  }
}

/* animation for the bottle */
#bottle {
  -webkit-animation: rollBall 2s linear 0s infinite normal none;
          animation: rollBall 2s linear 0s infinite normal none;
}

/*animation for the earth, it will scale to 1.5 in 4 seconds*/
.earth {
  -webkit-transition: 4s;
  transition: 4s;
}

.earth.scale {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

/* animation for the text that slides in from the left*/
.pollutiontext {
  position: relative;
  left: -1200px;
  -webkit-transition: 2s;
  transition: 2s;
}

.slidein {
  left: 0;
}

/*animation for the toxic fish that moves to the right*/
.toxicfish {
  -webkit-transition: 3.5s;
  transition: 3.5s;
}

.moveright {
  -webkit-transform: translateX(900px);
          transform: translateX(900px);
}

/*animation - turtle*/
.turtle {
  animation-name: swim;
  animation-duration: 10s;
  animation-delay: 0;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position: absolute;
  top: 6325px;
  left: 463px;
  height: 250px;
  width: 250px;
  }

  @keyframes swim {

    0% {margin-left: -200px}
    70% {margin-left: 40%;}
    100% {margin-left: 50%;}

     }


/*animation for the text that goes from 0 in width to 80%*/
.turtletext {
  width: 0%;
  -webkit-transition: 2s;
  transition: 2s;
}

.wide {
  width: 80%;
}

* {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: larger;
  margin: 0;
  padding: 0;
}

img {
  width: 50%;
}

h1 {
  text-align: center;
  padding-top: 26%;
  padding-bottom: 12%;
  position: absolute;
  z-index: 4;
  color: var(--azure);
}

/* .parallax {
    border: 1px solid red;

}

#oceanbg {
    z-index: -3;
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#oceanfg {
    z-index: -1;
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#oceanob {
    z-index: -2;
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
} */
.container {
  background-color: var(--black);
  margin-bottom: 12%;
}

section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: -webkit-gradient(linear, left bottom, left top, from(var(--black)), to(transparent));
  background: linear-gradient(to top, var(--black), transparent);
  z-index: 10000;
}

section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  pointer-events: none;
}

/*styling for the story images*/
.story-image {
  /* background-color: aqua; */
  width: 600px;
  height: 400px;
  margin: auto;
}

/* styling for the paragraph elements*/
p {
  /* debugging tools */
  /* background-color: antiquewhite; */
  /* spacing stuff */

  width: 80%;
  margin: auto;
  padding-top: 25%;
  padding-bottom: 25%;
  font-size: 1.2rem;
}

/* positioning for the earth image*/
.earth {
  margin-left: 150px;
}

/*positioning and size for the fish*/
.toxicfish {
  height: 150px;
  width: 150px;
  margin-top: 200px;
}

:root {
  --black: #020A11;
  --azure: #f0ffff;
}
/*# sourceMappingURL=index.css.map */