@-webkit-keyframes change {
  from {
    background-color: red;
  }
  to {
    background-color: blue;
  }
}

@keyframes change {
  from {
    background-color: red;
  }
  to {
    background-color: blue;
  }
}

@-webkit-keyframes rotate-in-2-cw {
  0% {
    height: 60px;
    width: 60px;
    border-radius: 55%;
  }
}

@keyframes rotate-in-2-cw {
  0% {
    height: 60px;
    width: 60px;
    border-radius: 55%;
  }
}

@-webkit-keyframes jason {
  0% {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
}

@keyframes jason {
  0% {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
}

@media (prefers-reduced-motion) {
  .shapehaavard {
    -webkit-animation-name: change;
            animation-name: change;
  }
  .squarekarina {
    -webkit-animation-name: rotate-in-2-cw;
            animation-name: rotate-in-2-cw;
  }
  .shapejason {
    -webkit-animation-name: change;
            animation-name: change;
  }
}

@media (prefers-color-scheme: light) {
  .shapehaavard.light-scheme {
    background: black;
  }
  .squarekarina.light-scheme {
    background: black;
  }
  .shapejason.light-scheme {
    background: lightcoral;
  }
}

@media (orientation: landscape) {
  .shapehaavard {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .squarekarina {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .squarejason {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (orientation: portrait) {
  .shapehaavard {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .squarekarina {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .squarejason {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

:root {
  --Shape-color-haavard: red;
  --shape-color-karina: blueviolet;
  --shape-color-jason: brown;
  --switch-color-haavard: blue;
  --background-haavard: rgb(169, 173, 173);
  --background-karina: bisque;
  --background-jason: beige;
  --black: black;
  --white: white;
}

* {
  padding: 0;
  margin: 0;
}

section, .frontpage, .islands, .whale, .backgroundsea, .skytext, .skybackground, .backgroundboat, .underwater1, .turtleunder, .scuba, .bottom {
  height: 100vh;
  width: 100%;
}

.earth {
  margin-left: 250px;
  height: 100vh;
}

.space {
  background-color: var(--black);
}

.seatext {
  position: absolute;
  color: var(--white);
  text-align: center;
}

.skybackground {
  background-image: url(/images/sky.jpg);
}

.backgroundsea {
  background-image: url(/images/pexels-kellie-churchman-1001682.jpg);
}

.bottlefront {
  z-index: 3;
  margin-top: 180px;
  height: 400px;
  width: 100%;
  position: absolute;
}

.cargo {
  width: 50px;
  height: 25px;
  position: absolute;
  margin-top: 175px;
  right: 105px;
}

.backgroundboat {
  background-image: url(./images/backgroundboat.png);
}

.ship {
  max-width: 300px;
  max-height: 300px;
  z-index: 3;
  position: absolute;
  margin-top: 220px;
  margin-left: 300px;
}

.sun {
  z-index: 3;
  position: absolute;
  max-width: 200px;
  max-height: 200px;
  right: 0;
  margin-top: 20px;
  margin-right: 20px;
}

.bottle {
  z-index: 3;
  position: absolute;
  margin-left: 650px;
  margin-top: 300px;
  max-width: 40px;
}

.underwater1 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#407FDD), to(#0c56d6));
  background-image: linear-gradient(to bottom, #407FDD, #0c56d6);
  position: absolute;
}

.fish1 {
  height: 70px;
  margin-top: 200px;
  margin-left: 100px;
}

.fish2 {
  height: 70px;
  margin-left: 900px;
}

.bottom {
  background-color: #0c56d6;
  position: absolute;
}

.crab {
  height: 100px;
  width: 100px;
  margin-left: 100px;
  margin-top: 480px;
}

.seaweed {
  margin-left: 100px;
  position: relative;
  bottom: 0;
}

.bottle2 {
  width: 40px;
  margin-left: 400px;
}
/*# sourceMappingURL=index.css.map */