@-webkit-keyframes spin {
  from {
    background-color: red;
  }
  to {
    background-color: blue;
  }
}

@keyframes spin {
  from {
    background-color: red;
  }
  to {
    background-color: blue;
  }
}

@-webkit-keyframes rotate-in-2-cw {
  0% {
    height: 60px;
    width: 60px;
    border-radius: 55%;
  }
}

@keyframes rotate-in-2-cw {
  0% {
    height: 60px;
    width: 60px;
    border-radius: 55%;
  }
}

@media (prefers-reduced-motion) {
  .shapehaavard {
    -webkit-animation-name: spin;
            animation-name: spin;
  }
  .squarekarina {
    -webkit-animation-name: rotate-in-2-cw;
            animation-name: rotate-in-2-cw;
  }
}

@media (prefers-color-scheme: light) {
  .shapehaavard.light-scheme {
    background: black;
  }
}

.squarekarina.light-scheme {
  background: black;
}

@media (orientation: landscape) {
  .shapehaavard {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .squarekarina {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (orientation: portrait) {
  .shapehaavard {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .squarekarina {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

* {
  padding: 0;
  margin: 0;
}

.squarekarina {
  height: 120px;
  background-color: blueviolet;
  border-radius: 0%;
  width: 120px;
  margin-top: 150px;
  margin-left: 150px;
  -webkit-animation-name: rotate-in-2-cw;
          animation-name: rotate-in-2-cw;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  -webkit-animation-timing-function: easeOutQuad;
          animation-timing-function: easeOutQuad;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

section {
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shapehaavard {
  border-radius: 0%;
  background-color: red;
  width: 200px;
  height: 200px;
  border: 1px solid black;
  margin-top: 100px;
  -webkit-animation-name: spin;
          animation-name: spin;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
}

.shapejason {
  border-radius: 30%;
  background-color: brown;
  width: 150px;
  height: 150px;
  -webkit-animation-name: jason;
          animation-name: jason;
}

.haavard {
  background-color: aqua;
}

.karina {
  background-color: bisque;
}

.jason {
  background-color: beige;
}
/*# sourceMappingURL=shapes.css.map */