@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap');


* {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: larger;
}

h1 {
    text-align: center;
    padding-bottom: 12%;
}


.story-image {
    /* background-color: aqua; */
    width: 600px;
    height: 400px;
    margin: auto;
    border: 1px solid red;
}


p {
    /* debugging tools */
    /* border: 1px solid red; */
    /* background-color: antiquewhite; */

    /* spacing stuff */
    width: 80%;
    margin: auto;
    padding-top: 25%;
    padding-bottom: 25%;

    font-size: 1.2rem;
}