@keyframes yourAnimation {
    0.0%{
    }
    100%{
        transform: translate(-5px, 5px);
    }
    50.2%{
        transform: translate(4px, -4px);
    }
}

/* Animation for the wave*/
#wavefg{
    animation: yourAnimation 3s linear 0s infinite normal none;
} 


/* Animation for the plastic bottle*/
@keyframes rollBall {
    0.0%{
        transform: translate(0, 0px);
    }
    35.2%{
        transform: translate(0, 95px);
    }
    39.9%{
        transform: translate(0, 100px) rotate(2deg);
    }
    5.2%{
        transform: translate(0px, -10px);
    }
    9.7%{
    }
    99.5%{
        transform: translate(190px, 95px) rotate(270deg);
    }
}


/* animation for the bottle */
#bottle{
    animation: rollBall 2s linear 0s infinite normal none;
}


/*animation for the earth, it will scale to 1.5 in 4 seconds*/
.earth{
    transition: 4s ;
}

.earth.scale{
    transform: scale(1.5);
}

/* animation for the text that slides in from the left*/
.pollutiontext{
    position: relative;
    left: -1200px;
    transition: 2s;
}

.slidein{
    left: 0;
}

/*animation for the toxic fish that moves to the right*/
.toxicfish{
    transition: 3.5s;
}

.moveright{
    transform: translateX(300px);
}

/*animation for the text that goes from 0 in width to 80%*/
.turtletext{
    width: 0%;
    transition: 2s;
}

.wide{
    width: 80%;
}