@keyframes yourAnimation {
    0.0%{
    }
    100%{
        transform: translate(-5px, 5px);
    }
    50.2%{
        transform: translate(4px, -4px);
    }
}

/* Add the animation: property to whichever element you want to animate */
#wavefg{
    animation: yourAnimation 3s linear 0s infinite normal none;
} 


/* Copy this @keyframes block to your CSS*/
@keyframes rollBall {
    0.0%{
        transform: translate(0, 0px);
    }
    35.2%{
        transform: translate(0, 95px);
    }
    39.9%{
        transform: translate(0, 100px) rotate(2deg);
    }
    5.2%{
        transform: translate(0px, -10px);
    }
    9.7%{
    }
    99.5%{
        transform: translate(190px, 95px) rotate(270deg);
    }
}


/* Add the animation: property to whichever element you want to animate */
#bottle{
    animation: rollBall 2s linear 0s infinite normal none;
}



.earth{
    transition: 4s ;
}

.earth.scale{
    transform: scale(1.5);
}

.pollutiontext{
    position: relative;
    left: -1000px;
    transition: 2s;
}

.slidein{
    transition: 1s;
    left: 0;
}

