
:root {
    --Shape-color-haavard: red;
    --shape-color-karina: blueviolet;
    --shape-color-jason: brown;
    --switch-color-haavard: blue;
    --background-haavard: rgb(169, 173, 173);
    --background-karina: bisque;
    --background-jason: beige;
    --black: black;
    --white: white;
}