


@media (prefers-reduced-motion) {
    .shapehaavard {
      animation-name: change;
    }
    .squarekarina {
        animation-name: rotate-in-2-cw;
    }
    .shapejason {
      animation-name: change;
    }
  }

  @media (prefers-color-scheme: light) {
      .shapehaavard.light-scheme { background: black;}
      
      .squarekarina.light-scheme {
        background: black;
      }
      .shapejason.light-scheme { background: lightcoral;}
      
    }


@media (orientation: landscape) {
    .shapehaavard {
      flex-direction: row;
    }
    .squarekarina {
        flex-direction: row;
    }
    .squarejason {
        flex-direction: row;
    }
  }
  
  @media (orientation: portrait) {
    .shapehaavard {
      flex-direction: column;
    }
    .squarekarina {
        flex-direction:column;
    }
    .squarejason {
        flex-direction:column;
    }
  }
